<section class="section">
  <div class="container">
    <div class="benefits">
      <div class="benefits__col">
        <div class="benefits__phone">
          <img src="assets/img/benefits/phone.png" alt="">
        </div>
      </div>

      <div class="benefits__col">
        <div class="benefits__content">
          <h3 class="benefits__title">
            Headline
          </h3>
          <div class="benefits__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non. Non commodo volutpat, pharetra, vel.
            </p>
          </div>
          <a class="benefits__btn" href="#">Get started</a>
        </div>
      </div>
    </div>
    <!-- /.benefits -->
  </div>
  <!-- /.container -->
</section>