<section class="section cta">
  <div class="container container--cta">
    <div class="cta__inner">
      <h2 class="section__title">
        Manage your projects from your mobile
      </h2>
      <div class="section__subtitle">
        Download the app to manage your projects, keep track of the progress and complete tasks without procastinating. Stay on track and complete on time!
      </div>

      <div class="download download--cta">
        <div class="download__text">
          Get the App
        </div>
        <div class="download__btns">
          <a class="download__link" href="#">
            <img class="img" src="assets/img/icons/google.svg" alt="Google">
          </a>
          <a class="download__link" href="#">
            <img class="img" src="assets/img/icons/apple.svg" alt="Apple">
          </a>
        </div>
      </div>
      <!-- /.download -->
    </div>
    <!-- /.cta__inner -->
    <div class="cta__phone cta__phone--1">
      <img src="assets/img/cta/phone-1.png" alt="">
    </div>
    
    <div class="cta__phone cta__phone--2">
      <img src="assets/img/cta/phone-2.png" alt="">
    </div>
  </div>
  <!-- /.container -->
</section>