<section class="section">
  <div class="container">
    <h2 class="section__title">Tailor-made features</h2>
    <div class="section__subtitle">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</div>

    <div class="features">
      <div class="features__item">
        <img class="features__icon" src="assets/img/features/workflow.svg" alt="">
        <h5 class="features__title">Robust workflow</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>

      <div class="features__item">
        <img class="features__icon" src="assets/img/features/flexibility.svg" alt="">
        <h5 class="features__title">Flexibility</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>

      <div class="features__item">
        <img class="features__icon" src="assets/img/features/user-friendly.svg" alt="">
        <h5 class="features__title">User friendly</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>

      <div class="features__item">
        <img class="features__icon" src="assets/img/features/layouts.svg" alt="">
        <h5 class="features__title">Multiple layouts</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>

      <div class="features__item">
        <img class="features__icon" src="assets/img/features/components.svg" alt="">
        <h5 class="features__title">Better components</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>

      <div class="features__item">
        <img class="features__icon" src="assets/img/features/organised.svg" alt="">
        <h5 class="features__title">Well organised</h5>
        <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
      </div>
    </div>
    <!-- /.features -->
  </div>
  <!-- /.container -->
</section>