<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col">
        <img class="img footer__logo" src="assets/img/logo-footer.svg" alt="Logo">
        <ul class="footer__links">
          <li><a class="footer__link" href="#">Download Now</a></li>
          <li><a class="footer__link" href="#">License</a></li>
        </ul>
        <ul class="footer__links">
          <li><a class="footer__link" href="#">About</a></li>
          <li><a class="footer__link" href="#">Features</a></li>
          <li><a class="footer__link" href="#">Pricing</a></li>
          <li><a class="footer__link" href="#">Careers</a></li>
          <li><a class="footer__link" href="#">Help</a></li>
          <li><a class="footer__link" href="#">Privacy Policy</a></li>
        </ul>
        <div class="footer__text">
          © 2020 Landify UI Kit. All rights reserved
        </div>
      </div>
      <!-- /.footer__col -->
      <div class="footer__col">
        <div class="download download--footer">
          <div class="download__text download__text--footer">
            Get the App
          </div>
          <a class="download__link--footer" href="https://play.google.com/store?hl=ru&gl=US" target="_blank">
            <img class="img" src="assets/img/icons/google.svg" alt="Google">
          </a>
          <a class="download__link--footer" href="https://www.apple.com/ru/app-store/" target="_blank">
            <img class="img" src="assets/img/icons/apple.svg" alt="Apple">
          </a>
        </div>
      </div>
      <!-- /.footer__col -->
    </div>
  </div>
</footer>