<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html">
        <img class="img" src="assets/img/logo.svg" alt="Logo">
      </a>
    
      <nav class="nav" id="nav">
        <a class="nav__link" href="#">About</a>
        <a class="nav__link" href="#">Products</a>
        <a class="nav__link" href="#">Pricing</a>
        <a class="nav__link" href="#">Blog</a>
        <a class="nav__link" href="#">Jobs</a>
        <a class="nav__link" href="#">More</a>
      </nav>
    
      <button class="burger" type="button" id="navToggle">
        <span class="burger__line">1</span>
        <span class="burger__line">2</span>
        <span class="burger__line">3</span>
      </button>
    
      <div class="download download--header">
        <a class="download__link" href="https://play.google.com/store?hl=ru&gl=US" target="_blank">
          <img class="img" src="assets/img/icons/google.svg" alt="Google">
        </a>
        <a class="download__link" href="https://www.apple.com/ru/app-store/" target="_blank">
          <img class="img" src="assets/img/icons/apple.svg" alt="Apple">
        </a>
      </div>
      <!-- /.download -->
    </div>
    <!-- /.header__inner -->
  </div>
  <!-- /.container -->
</header>