<section class="hero">
  <div class="container">
    <header class="header">
      <a href="index.html">
        <img class="img" src="../../assets/img/logo.svg" alt="Logo">
      </a>
  
      <nav class="nav" id="nav">
        <a class="nav__link" href="#">About</a>
        <a class="nav__link" href="#">Products</a>
        <a class="nav__link" href="#">Pricing</a>
        <a class="nav__link" href="#">Blog</a>
        <a class="nav__link" href="#">Jobs</a>
        <a class="nav__link" href="#">More</a>
      </nav>

      <button class="burger" type="button" id="navToggle">
        <span class="burger__line">1</span>
        <span class="burger__line">2</span>
        <span class="burger__line">3</span>
      </button>
  
      <div class="download download--header">
        <a class="download__link" href="#">
          <img class="img" src="../../assets/img/icons/google.svg" alt="Google">
        </a>
        <a class="download__link" href="#">
          <img class="img" src="../../assets/img/icons/apple.svg" alt="Apple">
        </a>
      </div>
      <!-- /.download__buttons -->
    </header>

    <div class="hero__inner">
      <div class="hero__text">
        <h1 class="hero__title">Organise projects.<br>
        Get more done.</h1>

        <button class="btn" type="submit">Get Started</button>
      </div>

      <div class="hero__phone">
        <img class="img" src="../../assets/img/hero/phone.png" alt="">
      </div>
    </div>
  </div>
</section>