<div class="logos">
  <div class="container">
    <ul class="logos__list">
      <li>
        <img class="img" src="../../assets/img/logos/airbnb.svg" alt="">
      </li>
      <li>
        <img class="img" src="../../assets/img/logos/hubspot.svg" alt="">
      </li>
      <li>
        <img class="img" src="../../assets/img/logos/google.svg" alt="">
      </li>
      <li>
        <img class="img" src="../../assets/img/logos/microsoft.svg" alt="">
      </li>
      <li>
        <img class="img" src="../../assets/img/logos/walmart.svg" alt="">
      </li>
      <li>
        <img class="img" src="../../assets/img/logos/fedex.svg" alt="">
      </li>
    </ul>
  </div>
</div>