<section class="section">
  <div class="container">
    <div class="promo">
      <div class="promo__header">
        <h3 class="promo__title">
          Enter the world of all fashion trends
        </h3>
        <div class="promo__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis scelerisque at quam congue posuere libero in sit quam. Consequat, scelerisque non tincidunt sit lectus senectus.
        </div>
      </div>

      <div class="promo__photo">
        <img class="img" src="../../assets/img/promo/promo-photo.jpg" alt="">
      </div>
    </div>
    <!-- /.promo -->
  </div>
  <!-- /.container -->
</section>