<section class="section reviews">
  <div class="container">
    <div class="reviews__inner">
      <div class="reviews__col">
        <div class="reviews__text">
          <h2 class="section__title">
            Real Stories from Real Customers
          </h2>

          <div class="section__subtitle">
            Get inspired by these stories.
          </div>
        </div>
        <!-- /.reviews__text -->

        <div class="reviews__item reviews__item--sm reviews__item--left">
          <div class="reviews__logo">
            <img class="img" src="assets/img/reviews/Hubspot.svg" alt="Logo">
          </div>
          <div class="reviews__content">
            <div class="reviews__feedback">
              To quickly start my startup landing page design, I was looking for a landing page UI Kit. Landify is one of the best landing page UI kit I have come across. It’s so flexible, well organised and easily editable.
            </div>
            <div class="reviews__name">
              Floyd Miles
            </div>
            <div class="reviews__company">
              Vice President, GoPro
            </div>
          </div>
          <!-- /.reviews__content -->
        </div>
        <!-- /.reviews__item -->
      </div>
      <!-- /.reviews__col -->

      <div class="reviews__col reviews__col--right">
        <div class="reviews__item reviews__item--big">
          <div class="reviews__logo">
            <img class="img" src="assets/img/reviews/Airbnb.svg" alt="Logo">
          </div>
          <div class="reviews__content">
            <div class="reviews__feedback">
              I used landify and created a landing page for my startup within a week. The Landify UI Kit is simple and highly intuitive, so anyone can use it.
            </div>
            <div class="reviews__name">
              Jane Cooper
            </div>
            <div class="reviews__company">
              CEO, Airbnb
            </div>
          </div>
          <!-- /.reviews__content -->
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item reviews__item--sm">
          <div class="reviews__logo">
            <img class="img" src="assets/img/reviews/BookMyShow.svg" alt="Logo">
          </div>
          <div class="reviews__content">
            <div class="reviews__feedback">
              Landify saved our time in designing my company page.
            </div>
            <div class="reviews__name">
              Kristin Watson
            </div>
            <div class="reviews__company">
              Co-Founder, BookMyShow
            </div>
          </div>
          <!-- /.reviews__content -->
        </div>
        <!-- /.reviews__item -->
      </div>
      <!-- /.reviews__col -->
    </div>
  </div>
</section>