<section class="section stats">
  <div class="container">
    <div class="stats__inner">
      <div class="stats__col">
        <h2 class="section__title">Our 18 years of achievements</h2>
        <div class="section__subtitle">With our super powers we have reached this</div>
      </div>

      <div class="stats__col">
        <div class="stats__content">
          <div class="stats__item">
            <img class="stats__icon" src="../../assets/img/stats/downloads.svg" alt="">
            <div class="stats__text">
              <div class="stats__number">10,000+</div>
              <div class="stats__desc">Downloads per day</div>
            </div>
          </div>
          <!-- /.stats__item -->

          <div class="stats__item">
            <img class="stats__icon" src="../../assets/img/stats/users.svg" alt="">
            <div class="stats__text">
              <div class="stats__number">2 Million</div>
              <div class="stats__desc">Users</div>
            </div>
          </div>
          <!-- /.stats__item -->

          <div class="stats__item">
            <img class="stats__icon" src="../../assets/img/stats/clients.svg" alt="">
            <div class="stats__text">
              <div class="stats__number">500+</div>
              <div class="stats__desc">Clients</div>
            </div>
          </div>
          <!-- /.stats__item -->

          <div class="stats__item">
            <img class="stats__icon" src="../../assets/img/stats/countries.svg" alt="">
            <div class="stats__text">
              <div class="stats__number">140</div>
              <div class="stats__desc">Countries</div>
            </div>
          </div>
          <!-- /.stats__item -->
        </div>
      </div>

    </div>
    <!-- /.stats__inner -->
  </div>
  <!-- /.container -->
</section>