<!DOCTYPE html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <!-- Header -->
  {{> header}}

  <main class="page">
    <!-- Hero -->
    {{> hero }}

    <!-- Logos -->
    {{> logos }}

    <!-- Features -->
    {{> features }}

    <!-- Testimonials -->
    {{> reviews }}

    <!-- Stats -->
    {{> stats }}

    <!-- Benefits -->
    {{> benefits }}

    <!-- Promo -->
    {{> promo }}

    <!-- Cta -->
    {{> cta }}
  </main>

  <!-- Footer -->
  {{> footer }}
  
<script src="assets/js/app.min.js"></script>
</body>
</html>