<!DOCTYPE html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>

  <div class="page">
    <!-- Hero -->
    {{> hero }}

    <!-- Logos -->
    {{> logos }}

    <!-- Features -->
    {{> features }}

    <!-- Testimonials -->
    {{> reviews }}

    <!-- Stats -->
    {{> stats }}

    <!-- Benefits -->
    {{> benefits }}

    <!-- Promo -->
    {{> promo }}

    <!-- Cta -->
    {{> cta }}

    <!-- Footer -->
    {{> footer }}
  </div>

<script src="assets/js/app.min.js"></script>
</body>
</html>